@charset "utf-8";

/* *************************************************************
 PC > font.css
************************************************************** */

/* external link */

@font-face{
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:400;
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype')
	}
@font-face{
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:600;
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NNanumGothic-Bold.ttf) format('truetype')
	}

@font-face{
	font-family:'NanumGothicBold';
	font-style:normal;
	font-weight:600;
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NNanumGothic-Bold.ttf) format('truetype')
	}


/* *************************************************************
 * 	Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 * @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
 * @import url(./font_nanumgothic.css);
************************************************************** */

/* local link */
/*
@font-face{
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:400;
	src:url(/asset/fonts/NanumGothic-Regular.eot);
	src:url(/asset/fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(/asset/fonts/NanumGothic-Regular.woff2) format('woff2'),
		url(/asset/fonts/NanumGothic-Regular.woff) format('woff'),
		url(/asset/fonts/NanumGothic-Regular.ttf) format('truetype')
	}
@font-face{
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:600;
	src:url(/asset/fonts/NanumGothic-Bold.eot);
	src:url(/asset/fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(/asset/fonts/NanumGothic-Bold.woff2) format('woff2'),
		url(/asset/fonts/NanumGothic-Bold.woff) format('woff'),
		url(/asset/fonts/NNanumGothic-Bold.ttf) format('truetype')
	}
*/
