{% extends 'blog/base.html' %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}


{% block main_area %}
    <div id="post-area">
        {% if post.category %}
            <span class="badge badge-secondary float-right">{{ post.category }}</span>
        {% else %}
            <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>
        <h5 class="text-muted">{{ post.hook_text }}</h5>
        <!-- Author -->
        <p class="lead">
            by
            <a href="#">{{ post.author | upper }}</a>
        </p>

        <hr>

        {% if user.is_authenticated and user == post.author or user.is_superuser %}
            <a class="btn btn-info btn-sm float-right" href="/blog/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i>  Edit Post</a>
        {% endif %}

        <!-- Date/Time -->
        <p>Posted on {{ post.created_at }}</p>

        <hr>

        <!-- Preview Image -->
        {% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image">
        {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
        {% endif %}


        <hr>
<!-- Post content-->
<section class="mb-5">
    <p class="fs-5 mb-4">
        {{ post.content }}
    </p>
    {% if post.file_upload %}
        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>다운로드
        {% if post.get_file_ext == 'csv' %}
        <i class="fas fa-file-csv"></i>
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fas fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fas fa-file-word"></i>
        {% else %}
        <i class="far fa-file"></i>
        {% endif %}
        </a>
        <a href="{{ post.file_upload.url }}" target="_blank">{{ post.get_file_name }}</a><br>post.file_upload: {{ post.file_upload }}
    {% endif %}
    <br>
    태그 : {{ tags }} <br>
    <i class="fas fa-tags"></i> 태그2 : {% if tags.exists %}
        {% for tag in tags %}
    <a href="{{ tag.get_absolute_url }}">{{ tag.name }} </a>
        {% endfor %}
    {% endif %}
    </section>
<hr>
</div>
<div id="comment-area">
    
    <div class="media mb-4">
        댓글
                        # tags_str_list = list()
            # for t in self.object.tags.all():
            #     tags_str_list.append(t.name)
            # context['tags'] = '; '.join(tags_str_list)
    </div>
</div>
{% endblock %}