{% extends 'blog/base.html' %}
<!-- //TODO: <head> 설정으로 검색 유리 -->
{% block head_title %}
{{ post.title }} - 브라우저 header
{% endblock %}

{% block main_area%}
<div id="post-area">
<!-- Post title-->
    
        {% if post.category %}
            <span class="badge badge-secondary float-right">{{ post.category }}</span>
        {% else %}
            <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
    {% if post.hook_text %}
    <h4 class="text-muted">{{ post.hook_text|truncatewords:45 }}</h4>
    {% endif %}
    <!-- Post meta content-->
    <div class="text-muted fst-italic mb-2">{{ object.created_at }} {{post.author|upper}}</div>
    <!-- Post categories-->
</header>
<!-- Preview image figure-->
<figure class="mb-4">
    {% if post.head_image %}
        <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image">
    {% else %}
        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
    {% endif %}
</figure>
<!-- Post content-->
<section class="mb-5">
    <p class="fs-5 mb-4">
        {{ post.content }}
    </p>
    {% if post.file_upload %}
        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>다운로드
        {% if post.get_file_ext == 'csv' %}
        <i class="fas fa-file-csv"></i>
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fas fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fas fa-file-word"></i>
        {% else %}
        <i class="far fa-file"></i>
        {% endif %}
        </a>
        <a href="{{ post.file_upload.url }}" target="_blank">{{ post.get_file_name }}</a><br>post.file_upload: {{ post.file_upload }}
    {% endif %}
</section>
<hr>
</div>
<div id="comment-area">
    
    <div class="media mb-4">
        댓글
    </div>
</div>
{% endblock %}