{% extends 'tour/base.html' %}
{% load humanize %}
{% block main_area %}

        <div class="container-fluid px-4">
            <h1 class="mt-4">일괄 복사 등록</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">코드, 한글 , 날짜 조회</li>
            </ol>
           
        <div>

            <div class="row">
                <div class="col">
                    <div class="card card-body"> 
                    <ul>
                        <li> 복사할 기준 코드: {{object.item_code}} {{object.title}} </li>
                        <li>{{object.d_date1|date:'m-d (D)'|cut:'요일'}}-{{object.d_date2|date:'m-d (D)'|cut:'요일'}}    </li>
                        <li>일정 {{object.night}}박{{object.stay}}일</li>
                    </ul>
                       
                       <h5>
                        
                       </h5>


 
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <div class="card card-body">    
                        <form method="POST">
                            {% csrf_token %}
                            <div style="display:flex;align-items:center;">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="all" onclick="javascript:checkAll()">
                                    <label class="form-check-label" for="전체 선택">전체 선택</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="0" id="yoil_0" name="yoil">
                                    <label class="form-check-label" for="yoil_0">월</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="yoil_1" name="yoil">
                                    <label class="form-check-label" for="yoil_1">화</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" id="yoil_2" name="yoil">
                                    <label class="form-check-label" for="yoil_2">수</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" id="yoil_3" name="yoil">
                                    <label class="form-check-label" for="yoil_3">목</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" id="yoil_4" name="yoil">
                                    <label class="form-check-label" for="yoil_4">금</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="5" id="yoil_5" name="yoil">
                                    <label class="form-check-label" for="yoil_5">토</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="6" id="yoil_6" name="yoil">
                                    <label class="form-check-label" for="yoil_6">일</label>
                                </div>
                            </div>
                            <div style="display:flex;justify-content:between-around;align-items:center;">

                            <div>
                                시작일: {{copyform.start_date}}
                                종료일: {{copyform.end_date}}
                                <input type="hidden" name="item_no" value="{{object.pk}}">
                                <button class="btn btn-danger" type="submit">저장</button>
                            </div>

                        </div>
                        </form>

                    </div>
                </div>
            </div>
            <div>
                {% if messages %}
                <section id="messages">
                    <ul>
                        {% for message in messages %}
                        <li class="{{ message.tags }}">
                            <p>{{ message }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
            </div>


    <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        상품 리스트
    </div>
   
    <div class="card-body">

            <table class="table">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <tr class="table table-dark table-hover text-center">
                    <th>선택</th>
                    <th>출발</th>
                    <th>도착</th>
                    <th>일정</th>
                    <th>상품코드</th>
                    <th>iti_name</th>
                    <th>상품명</th>
            </tr>
                <tbody>
                    {% for p in object_list %}
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" class="custom-control-input" id="{{p.share_iti_chk}}" name="test" value="{{p.pk}}">
                        </td>
                        <td class="text-left">{{p.d_date1|date:'m-d (D)'|cut:'요일'}}</td>
                        <td class="text-left">{{p.r_date2|date:'m-d (D)'|cut:'요일'}}</td>
                        <td class="text-left">{{p.night}}night{{p.period}}period</td>
                        <td class="text-center">
                            <a href="{% url 'tour:tour_detail' p.pk %}">{{p.item_code}}</a></td>
                        <td class="text-center">
                            <input type="checkbox" {% if p.share_air_chk %}checked {% endif %} class="custom-control-input" id="{{p.share_air_chk}}" name="test" value="{{p.share_air_chk}}">
                        </td>
                     
                        <td class="text-left">{{p.title}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

<script language="javascript">
   
    function checkAll(){
        const all = document.getElementById('all')
        const yoil =document.getElementsByName('yoil')
        if(all.checked == true){
            for(i=0; i<yoil.length ;i++){
            yoil[i].checked = true;
            }
        } else if(all.checked == false) {
            for(i=0; i<yoil.length;i++){
            yoil[i].checked = false;
            }
        }
        return;
    }

    </script>
{% endblock %}