{% extends 'tour/base.html' %}
{% load humanize %}
{% block main_area %}
    {% block search_area %}
        <div class="container-fluid px-4">
            <h1 class="mt-4">상품 조회</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">코드, 한글 , 날짜 조회</li>
            </ol>

        <div>
            <div class="row">
                <div class="col">
                    <div class="card card-body">    
                        <form action="{% url 'tour:index2' %}" method="get">
                            {% csrf_token %}
                        <div style="display:flex;justify-content:between-around;align-items:center;">
                            {{form.as_p}}
                            <button class="btn btn-primary" type="submit">
                            조회
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div> 
        {% endblock %}


    <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        자바스크립트 테이블
    </div>
    <div class="card-body">
        
        
        {% if object_list %}
            {{object_list.count}} 개 상품이 있습니다
        {% endif %}
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>상품명</th>
                        <th>출발일~도착일</th>
                        <th>요일</th>
                        <th>출발지</th>
                        <th>도착지</th>
                        <th>상품명</th>
                        <th>일정</th>
                        <th>상품가</th>
                        <th>항공</th>
                        <th>출발편</th>
                        <th>리턴편</th>
                        <th>수정|삭제 </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'tour:tour_detail' p.pk %}">{{ p.title }}</a>
                        </td>
                        <td>
                            {{ p.d_date1 | date:'Y-m-d (D)' | cut:"요일"}}<br>
                            {{ p.d_date2 | date:'Y-m-d (D)' | cut:"요일"}}
                        </td>
                        <td>
                            {{p.d_date1 | date:'Y-m-d (D)' | cut:"요일"}}<br>
                            {{p.d_city1}}-{{p.d_city2}}
                        </td>

                        <td>{{p.d_date1 | date:'D' | cut:"요일"}}</td>
                        
                        <td>{{p.d_city1}}</td>
                        <td>{{p.d_city2}}</td>
                        <td>{{p.basic_code}}{{p.air_code}}{{p.suffix_code}}</td>
                        <td>{{p.stay}} 일</td>
                        <td>{{p.price | intcomma }}</td>
                        <td>{{p.airline | upper}}</td>
                        <td>
                            
                            {{p.d_time1 | date:'H:i'}}-{{p.d_time2 | date:'H:i'}}+{{p.d_daychange}}
                        </td>
                        <td>{{p.r_time1 | date:'H:i'}}-{{p.r_time2 | date:'H:i'}}+{{p.r_daychange}}</td>
                        <td>
                            <a href="{% url 'tour:tour_edit' p.pk %}">수정</a>
                            <a href="{% url 'tour:tour_delete' p.pk %}">삭제</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <table class="table">
                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="15%">
                    <col width="50%">
                    <col width="15%">
                </colgroup>
                <tr class="table table-dark table-hover text-center">
                    <th>Day</th>
                    <th>장소</th>
                    <th>교통</th>
                    <th>일정</th>
                    <th>식사</th>
            </tr>
                <tbody>
                    <tr>
                        <td class="text-center"><h3>1</h3></td>
                        <td class="text-center">바르셀로나</td>
                        <td class="text-center">스피드 보트</td>
                        <td class="text-left">코타키나 발루 어쩌고 저쩌고 궁시러ㅏㅁ이ㅓ람ㄴ어ㅏ럼낭러 동해물과 백두산이 마르고 닳도록</td>
                        <td class="text-center">떡볶이 정식</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}